# Dependencies
node_modules/

# OS misc
.DS_Store
Thumbs.db
Desktop.ini

# Environment variables
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDES
.vscode/
.idea/
